@import "../../../node_modules/c3/c3.min.css"

app-bar-chart {
    .bar {
        fill: steelblue;
    }
    
    .bar:hover {
        fill: brown;
    }
    
    .axis--x path {
        display: none;
    }
}
