<div>
    <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
            <div class="card">
                <div class="card-header">
                    Spinner
                </div>
                <div class="card-block">
                    <div class="card-title">
                    </div>
                    <div class="card-text">
                        <span class="spinner">
                            Loading...
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
            <div class="card">
                <div class="card-header">
                    Spinner > Inverse
                </div>
                <div class="card-block">
                    <div class="card-title">
                    </div>
                    <div class="card-text">
                        <span class="spinner spinner-inverse">
                            Loading...
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
            <div class="card">
                <div class="card-header">
                    Spinner > Medium size
                </div>
                <div class="card-block">
                    <div class="card-title">
                    </div>
                    <div class="card-text">
                        <span class="spinner spinner-md">
                            Loading...
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- show code -->
    <app-view-code></app-view-code>
</div>

