<div>
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-5 clr-col-12">
        <div class="card">
            <div class="card-header">
                C3 Stacked Bar chart
            </div>
            <div class="card-block">
                <div class="card-title">
                </div>
                <div class="card-text">
                    <div id="c3Barchart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-5 clr-col-md-5 clr-col-12">
        <div class="card">
            <div class="card-header">
                C3 Pie chart
            </div>
            <div class="card-block">
                <div class="card-title">
                </div>
                <div class="card-text">
                    <div id="c3Piechart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-5 clr-col-12">
        <div class="card">
            <div class="card-header">
                C3 Gauge chart
            </div>
            <div class="card-block">
                <div class="card-title">
                </div>
                <div class="card-text">
                    <div id="c3Gaugechart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-5 clr-col-md-5 clr-col-12">
        <div class="card">
            <div class="card-header">
                C3 Scatter Plot chart
            </div>
            <div class="card-block">
                <div class="card-title">
                </div>
                <div class="card-text">
                    <div id="c3ScatterPlotchart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-5 clr-col-12">
        <div class="card">
            <div class="card-header">
                D3 line chart
            </div>
            <div class="card-block">
                <div class="card-title">
                </div>
                <div class="card-text">
                    <div #tref id="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

