<div class="clr-row" style="margin-top: 30px;">
    <!-- toggle file type switches -->
    <div class="clr-col-lg-5 clr-col-md-7 clr-col-8">
        <div class="clr-form-control">
            <div class="clr-control-container clr-control-inline">
              <div class="clr-toggle-wrapper" *ngFor="let type of fileTypeSwitches">
                <input type="checkbox" [id]="'toggle'+type.value" name="toggle-full" [value]="type.value" class="clr-toggle" [(ngModel)]="type.isChecked" (change)="changeFileType($event, type, fileTypeSwitches)">
                <label [for]="'toggle'+type.value" class="clr-control-label">{{type.name}}</label>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" style="margin-top: 20px;">
    <!-- <label for="aForm_4">Textarea</label> -->
    <textarea id="aForm_4" rows="15" cols="120" [disabled]="true">{{fileContent}}</textarea>
</div>
